*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Caslon Display', serif;
  /* background-color: hsl(0 0% 0% / 0.3);
  backdrop-filter: blur(0.6rem); */
  /* background: linear-gradient(-45deg, #efd345d2, #82954B,#efd345c5, #82954B),
  linear-gradient(-45deg, #EFD345, #82954B,#EFD345, rgba(255, 255, 255, 0.589), #82954B);


	animation: gradient 15s ease infinite;
	height: 100vh;
  animation-direction:alternate;
	background-size: 400% 400%; */


 
}

.background {
  background-image: url(../src/img/hero/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/** HEADER CSS STARTS HERE */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  padding-inline: 7rem;
  white-space: nowrap;
}
header:hover {
  background-color: aliceblue;
}

.logo {
  font-size: 1.7rem;
  color: rgba(210, 183, 5, 0.795);
}

.logo-span {
  font-weight: 900;
  font-style: oblique;
  color: rgba(55, 146, 6, 0.678);
}
.header-nav {
  display: flex;

  list-style-type: none;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 1.17rem;
}

.header-imgs {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  /* border: 1px solid red; */
  justify-content: end;
}
.header-favorite {
  width: 1.4rem;
}
.header-user {
  width: 2.1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}
.premium {
  outline: none;
  font-size: 0.8rem;
  padding: 0.85rem;
  color: white;
  background-color: black;
  border-radius: 1.3rem;
  border-bottom-right-radius: 0;
}

/** HEADER CSS END */



/** HERO CSS STARTS HERE */
.hero-div {
  max-width: 92%;
  /* background-color: rgba(210, 183, 5, 0.795); */
  border-radius: 3rem;
  margin: 0 auto;
  margin-top: 2rem;

  display: flex;
/* From https://css.glass */
/* background: rgba(210, 255, 183, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px); */
border-radius: rgba(255, 255, 255, 0.3);

background: rgba(210, 255, 183, 0.2);
backdrop-filter: saturate(180%) blur(10px);
/* 
background-color: hsl(0 0% 0% / 0.3); */
backdrop-filter: blur(0.6rem);
/* background: linear-gradient(99deg, #F2D544, #99bf9e); */

}
.hero-div::after {
  content: "";
  display: table;
  clear: both;
}
.hero-description {
  max-width: 60%;
  margin-top: 3rem;
  margin-left: 7rem;
}
.hero--name {
  font-size: 2rem;
  font-style: italic;
  color: rgba(55, 146, 6, 0.658);
}
form {
  margin-left: 7rem;
  margin-top: 1.5rem;
  max-width: 60%;
  /* border: 1px solid red; */
  white-space: nowrap;
}
.description {
  margin-top: 0.6rem;
}
input {
  width: 80%;
  padding: 1.2rem 0;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-indent: 1rem;
}
.search-button {
  outline: none;
  border: none;
  padding: 1.2rem 1.2rem;
  background-color: rgba(55, 146, 6, 0.438);
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.hero--title {
  font-size: 4rem;
}
.hero-img {
  margin-left: auto;
  margin-right: 2rem;
  float: right;
  width: 29rem;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  /* height: 50%; */
  /* border: 1px solid red; */
}
/** HERO CSS END */



/** MENU CSS STARTS HERE */
.slide--container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.menu-wrapper {
  /* border: 1px solid red; */
  padding-inline: 1rem;

}
.menu-div {
  /* background-color: rgba(58, 122, 23, 0.137); */
  /* From https://css.glass */
background-color: #98b538e0;

  max-width: 77%;
  border-radius: 1.5rem;
  padding: 1rem;
  position: relative;
  margin-top: 2.3rem;
  margin-bottom: 1rem;
}

.menu-div:hover {
  background-color: rgba(210, 183, 5, 0.795);
  scale: 1.1;
}


.menu-general-title {
  margin-bottom: 1.7rem;
}

.menu-discription {
  display: flex;
}

.menu--title {
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
}
.menu-discription span {
  color: rgba(31, 29, 29, 0.493);
}
.price {
  font-weight: bolder;
  color: rgba(85, 49, 30, 0.719);
}
.menu--img {
  width: 8.9rem;
  /* border: 1px solid red; */
  margin-left: 3.4rem;
  position: absolute;
  margin-top: -3.7rem;
}
.menu--grill {
  width: 8.3rem;
  /* border: 1px solid red; */
  margin-left: 4.7rem;
  position: absolute;
  margin-top: -3.3rem;
}

.menu--pizza {
  width: 6.6rem;
  /* border: 1px solid red; */
  margin-left: 5.2rem;
  position: absolute;
  margin-top: -2.7rem;
}
.menu--sausage {
  width: 7.5rem;
  /* border: 1px solid red; */
  margin-left: 4.4rem;
  position: absolute;
  margin-top: -2rem;
}
.menu--br {
  width: 9rem;
  /* border: 1px solid red; */
  margin-left: 3.6rem;
  position: absolute;
  margin-top: -2.7rem;
}
.menu--pasta {
  width: 9.6rem;
  /* border: 1px solid red; */
  margin-left: 3.5rem;
  position: absolute;
  margin-top: -3.3rem;
}
.menu--brg {
  width: 8.7rem;
  /* border: 1px solid red; */
  margin-left: 4.6rem;
  position: absolute;
  margin-top: -2.1rem;
}
.menu-img {
  width: 6rem;
  /* border: 1px solid red; */
  margin-left: 5.9rem;
  position: absolute;
  margin-top: -2.5rem;
}
.menu-1br {
  width: 6.6rem;
  /* border: 1px solid red; */
  margin-left: 5.7rem;
  position: absolute;
  margin-top: -1.7rem;
}
.menu-ch {
  width: 7rem;
  /* border: 1px solid red; */
  margin-left: 6.7rem;
  position: absolute;
  margin-top: -1.9rem;
}
.menu--dounts {
  width: 7.3rem;
  /* border: 1px solid red; */
  margin-left: 5.5rem;
  position: absolute;
  margin-top: -2.5rem;
}
.menu--choc {
  width: 8rem;
  /* border: 1px solid red; */
  margin-left: 4.9rem;
  position: absolute;
  margin-top: -4.4rem;
}
/** MENU CSS END */


/** About CSS STARTS HERE */
.about-div {
  /* background-color: rgba(210, 183, 5, 0.795);
  scale: 1.1; */
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.about-des {
  max-width: 30%;
}
/** About CSS END */

.review-wrapper {
  max-width: 70%;
  margin: 0 auto;
}
.review-extraDiv {
  display: flex;
  gap: 2.5rem;
}



blockquote {
  font-family: Georgia, serif;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
 /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
  float:right;
  font-size:6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align:right;
}
blockquote cite:before {
  content: "\2013";
}

.review-div {
  display: flex;
  flex-direction: row;
  backdrop-filter: saturate(180%) blur(10px);
  padding: 4.5rem;
  margin-bottom: 1rem;
  border-radius: 3rem;
 backdrop-filter: blur(0.6rem);

 border-radius: rgba(255, 255, 255, 0.3);

background: rgba(210, 255, 183, 0.2);
}
.review-content {
  display: flex;
  align-items: center;
}

.review-wrapper .slick-dots {
  /* display: none !important; */
  color: green;
}
.review-wrapper .slick-arrow {
  top: 100% !important;
  z-index: 999;
  background-color: green;
  border-radius: 100%;
  
}
.review-wrapper .slick-arrow:hover {
  background-color: yellow;
}
.review-wrapper .slick-arrow:first-child {
  margin-left: 58rem !important;
}

.customer-img {
  border-radius: 100%;
  max-width: 17rem;
  border: 3px solid yellow;
}





/** SERVECES CSS STARTS HERE */
.services-div {
  display: flex;
  max-width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

.service-desc {
  border-radius: 1.5rem;
  background-color: #98b538e0;
  max-width: 20%;
  padding: 2rem;
}
/** SERVECES CSS END */


/** SUBSCRIBE CSS STARTS HERE */
.Sub-wrapper {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 4rem;
  padding-left: 6rem;
  align-items: center;
  justify-content: center;

  border-radius: 3rem;
  backdrop-filter: blur(0.6rem);
 
  border-radius: rgba(255, 255, 255, 0.3);
 
 background: rgba(210, 255, 183, 0.2);
}

.Sub-wrapper form {
  margin-left: 0;
  max-width: 95%;

}
/** SUBSCRIBE CSS END */

.footer-section {
  background-color: rgba(240, 248, 255, 0.966);
  margin-bottom: -2rem;
  margin-top: 8rem;
  padding-bottom: 0;

}
.footer-content {
  display: flex;
  padding: 3rem;
  gap: 3rem;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: center;
}
.main-footer-div {
  max-width: 30%;
}
.footer-section footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.473);
}