*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Caslon Display', serif;
}

/* HEADER CSS STARTS HERE */
header {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid red;
  justify-content: center;
  padding: 1rem;
}

.header-nav {
  display: flex;
  /* border: 1px solid red; */
  /* margin-right: 20%; */
  /* margin-left: 20%; */

  list-style-type: none;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.header-imgs {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  /* border: 1px solid red; */
  justify-content: end;
}
.header-img {
  width: 1rem;
}
.header-user {
    width: 1.3rem;
  margin-top: -5px;
}

/* HEADER CSS END */
